/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* common */
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* typo */
h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}


/* header */
header{
    position: fixed;
    padding: 20px;
    right: 0;
    top: 0;
    z-index: 10;
}

.main-menu li{
    display: inline-block;
    margin-left: 20px;
}

.main-menu li:first-child{
    margin-left:0;
}

.main-menu li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.main-menu li a:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.2);
}

/* main */
section.product{
    height: 100vh;
    position: relative;
}

#bluejeans-sneakers{
    background: red;
    color: yellow;
}

#white-sneakers{
    background-color: green;
    color: yellow;
}

#all-star-sneakers{
    background: yellow;
    color: green;
}

.product .centered{
    max-width: 40%;
}

.product .centered img{
    width: 80%;
}

