/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Cousine', monospace;
}

/* header */
header{
    position: fixed;
    top: 30px;
    right: 15px;
}

.main-menu li{
    display: inline-block;
    margin-left: 20px;
}

.main-menu li:first-child{
    margin-left:0;
}

.main-menu li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    background-color: white;
}